{% extends 'base.html.twig' %}

{% block title %}ProfilLymphatique{% endblock %}

{% block body %}
    <h1>ProfilLymphatique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_lymphatique.id }}</td>
            </tr>
            <tr>
                <th>Transfert</th>
                <td>{{ profil_lymphatique.transfert }}</td>
            </tr>
            <tr>
                <th>Choix_bio_specifique</th>
                <td>{{ profil_lymphatique.choixBioSpecifique }}</td>
            </tr>
            <tr>
                <th>Choix_items</th>
                <td>{{ profil_lymphatique.choixItems }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_lymphatique_index') }}">back to list</a>

    <a href="{{ path('app_profil_lymphatique_edit', {'id': profil_lymphatique.id}) }}">edit</a>

    {{ include('profil_lymphatique/_delete_form.html.twig') }}
{% endblock %}
