{% extends 'base.html.twig' %}

{% block title %}ProfilRespiratoire{% endblock %}

{% block body %}
    <h1>ProfilRespiratoire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_respiratoire.id }}</td>
            </tr>
            <tr>
                <th>Transfert</th>
                <td>{{ profil_respiratoire.transfert }}</td>
            </tr>
            <tr>
                <th>Choix_bio_specifique</th>
                <td>{{ profil_respiratoire.choixBioSpecifique }}</td>
            </tr>
            <tr>
                <th>Choix_items</th>
                <td>{{ profil_respiratoire.choixItems }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_respiratoire_index') }}">back to list</a>

    <a href="{{ path('app_profil_respiratoire_edit', {'id': profil_respiratoire.id}) }}">edit</a>

    {{ include('profil_respiratoire/_delete_form.html.twig') }}
{% endblock %}
