{% extends 'base.html.twig' %}

{% block title %}SystemeDOrganes{% endblock %}

{% block body %}
    <h1>SystemeDOrganes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ systeme_d_organe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ systeme_d_organe.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_systeme_d_organes_index') }}">back to list</a>

    <a href="{{ path('app_systeme_d_organes_edit', {'id': systeme_d_organe.id}) }}">edit</a>

    {{ include('systeme_d_organes/_delete_form.html.twig') }}
{% endblock %}
