{% extends 'base.html.twig' %}

{% block title %}Choix De Voies{% endblock %}

{% block monTitre %}<div class="fst-italic">Choix De Voies</div>{% endblock %}

{% block body %}
    <table class="table-sm table-responsive col-md-4 offset-4 table-bordered mg border border-5 border-info rounded-5">
    <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for choix_de_voie in choix_de_voies %}
            <tr>
                <td>{{ choix_de_voie.id }}</td>
                <td>{{ choix_de_voie.nom }}</td>
                <td>
                    <a href="{{ path('app_choix_de_voies_show', {'id': choix_de_voie.id}) }}">show</a>
                    <a href="{{ path('app_choix_de_voies_edit', {'id': choix_de_voie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center"><a class=" btn btn-warning" href="{{ path('app_choix_de_voies_new') }}">Ajouter Choix De voies</a></div>
{% endblock %}
