{% extends 'base.html.twig' %}

{% block title %}Liste des motifs principales{% endblock %}

{% block body %}
<section>
    <div class="container " style="margin:auto;">
        <div class="form-group col-lg-12 ">
            <h1 class="text-center " style="color:black; margin:75px 50px; font-size:50px;">Nouveau motif</h1>
        </div>

        
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for primary_object in primary_objects %}
            <tr>
                <td>{{ primary_object.id }}</td>
                <td>{{ primary_object.value }}</td>
                <td>
                    <a href="{{ path('app_primary_object_show', {'id': primary_object.id}) }}">show</a>
                    <a href="{{ path('app_primary_object_edit', {'id': primary_object.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div class="row">
           
            
            <div class="col-4">
                <div class="text-center" style="margin:auto ; ">
                    <a href="{{ path('app_quantareport_index') }}" class="btn btn-primary">Liste des rapports</a>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center" style="margin:auto ; ">
                    <a href="{{ path('app_quantareport_new') }}" class="btn btn-primary">Nouveau rapport</a>
                    
                </div>
            </div>
            <div class="col-4">
                <div class="text-center" style="margin:auto ; ">
                    
                    <a href="{{ path('app_primary_object_new') }}" class="btn btn-primary">Nouveau motif</a>
                </div>
            </div>
        </div>
    
    </div>
</section>
    
    
{% endblock %}
