{% extends 'base.html.twig' %}

{% block title %}PrimaryObject index{% endblock %}

{% block body %}
    <h1>PrimaryObject index</h1>
    <h2 class="btn-danger"> 
        <a href="{{ path('app_quantareport_new') }}">Create report </a>
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for primary_object in primary_objects %}
            <tr>
                <td>{{ primary_object.id }}</td>
                <td>{{ primary_object.value }}</td>
                <td>
                    <a href="{{ path('app_primary_object_show', {'id': primary_object.id}) }}">show</a>
                    <a href="{{ path('app_primary_object_edit', {'id': primary_object.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_primary_object_new') }}">Create new</a>
{% endblock %}
