{% extends 'base.html.twig' %}

{% block title %}ProfilAllergie{% endblock %}

{% block body %}
    <h1>ProfilAllergie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_allergie.id }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ profil_allergie.commentaire }}</td>
            </tr>
            <tr>
                <th>Nom_item</th>
                <td>{{ profil_allergie.nomItem }}</td>
            </tr>
            <tr>
                <th>Feedbacksupplementaire</th>
                <td>{{ profil_allergie.feedbacksupplementaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_allergie_index') }}">back to list</a>

    <a href="{{ path('app_profil_allergie_edit', {'id': profil_allergie.id}) }}">edit</a>

    {{ include('profil_allergie/_delete_form.html.twig') }}
{% endblock %}
