{% extends 'base.html.twig' %}

{% block title %}Balance Hormonale Femelle{% endblock %}


{% block monTitre %}<div class="fst-italic"> Balance Hormonale Femelle</div>{% endblock %}

{% block body %}
    <table class="table-sm table-responsive col-md-4 offset-4 table-bordered mg border border-5 border-info rounded-5">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for balance_hormonale_femelle in balance_hormonale_femelles %}
            <tr>
                <td>{{ balance_hormonale_femelle.id }}</td>
                <td>{{ balance_hormonale_femelle.nom }}</td>
                <td>
                    <a href="{{ path('app_balance_hormonale_femelle_show', {'id': balance_hormonale_femelle.id}) }}">show</a>
                    <a href="{{ path('app_balance_hormonale_femelle_edit', {'id': balance_hormonale_femelle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center"><a class=" btn btn-warning" href="{{ path('app_balance_hormonale_femelle_new') }}">Ajouter Balance Hormonale Male</a></div>

{% endblock %}
