{% extends 'base.html.twig' %}

{% block title %}ToxinesEnvironnementalesEtIndustrielles{% endblock %}

{% block body %}
    <h1>ToxinesEnvironnementalesEtIndustrielles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ toxines_environnementales_et_industrielle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ toxines_environnementales_et_industrielle.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_toxines_environnementales_et_industrielles_index') }}">back to list</a>

    <a href="{{ path('app_toxines_environnementales_et_industrielles_edit', {'id': toxines_environnementales_et_industrielle.id}) }}">edit</a>

    {{ include('toxines_environnementales_et_industrielles/_delete_form.html.twig') }}
{% endblock %}
