{% extends 'base.html.twig' %}

{% block title %}Susceptibilite index{% endblock %}

{% block monTitre %}<div class="fst-italic"> Susceptibilite </div>{% endblock %}

{% block body %}


    <table class="table-sm table-responsive col-md-4 offset-4 table-bordered mg border border-5 border-info rounded-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for susceptibilite in susceptibilites %}
            <tr>
                <td>{{ susceptibilite.id }}</td>
                <td>{{ susceptibilite.nom }}</td>
                <td>
                    <a href="{{ path('app_susceptibilite_show', {'id': susceptibilite.id}) }}">show</a>
                    <a href="{{ path('app_susceptibilite_edit', {'id': susceptibilite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center"><a class=" btn btn-warning"  href="{{ path('app_susceptibilite_new') }}">Create new</a></div>
{% endblock %}
