{% extends 'base.html.twig' %}

{% block title %}New Quantareport{% endblock %}
{% form_theme form _self %}
{% block body %}
<section>
<div class="container text-center" style="margin-top:50px; margin-left:150px;">
    <div class="form-group col-lg-11 ">
    <h1 class="text-center border border-5 rounded-3 shadow-lg p-3 mb-5 bg-body" style="color:blue;">Rapport de séance du Quantascan</h1>
    <div class="rounded shadow-sm p-3 mb-5 bg-body h2" style="padding-top:5px; margin-bottom:15px;" class="h2">
        Type de séance
    </div>
   
    {{ include('quantareport/_form.html.twig') }}
    
    <a href="{{ path('app_quantareport_index') }}">back to list</a>
</div>
</div>
<div class="h5 text-center">
   Copyright @  Ma Vibration
</div>

</section>

{% endblock %}
  
{% block _quantareport_gstate_widget %}
<div class="h2 text-center">
    Etat général
</div>
    <p> Vous pouvez ajouter plusieurs état  </p>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-gstate" class="btn btn-primary"> Ajouter nouveau état </button>
    </div>
{% endblock %}

{% block _quantareport_gstate_entry_row %}
    {{ form_widget(form) }}
{% endblock %}


{% block _quantareport_gstate_entry_widget %}
    <div class="form-group" id="block_{{form.vars.id}}">
        <div class="row ">
            <div class="col-10">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                            
                            {{form_label(form.descript)}}
                        </div>
                        <div class="col-9">
                            {{form_widget(form.descript)}}
                        </div>
                    </div>
                </div>
                
                <div class="col-6">
                    {{form_widget(form.since)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.duration)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.observation)}}
                </div>
            </div>  
            <div class="col-2">
                <button type="button"  data-action="delete"  data-target="#block_{{form.vars.id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _quantareport_health_widget %}
<div class="h2 text-center">
    Historique de santé
</div>
    <p> Vous pouvez ajouter plusieurs données historiques  </p>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-health" class="btn btn-primary"> Ajouter nouveau historique </button>
    </div>
{% endblock %}

{% block _quantareport_health_entry_row %}
    {{ form_widget(form) }}
{% endblock %}


{% block _quantareport_health_entry_widget %}
    <div class="form-group" id="block_{{form.vars.id}}">
        <div class="row">
            <div class="col-10">
                <div class="col-6">
                {{form_widget(form.event)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.illness)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.descript)}}
                </div>
                
            </div>  
            <div class="col-2">
                <button type="button"  data-action="delete"  data-target="#block_{{form.vars.id}}" class="btn btn-danger ">Xxx</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _quantareport_qdata_widget %}
<div class="h2 text-center">
    Données de la séance
 </div>
    <p> Vous pouvez ajouter plusieurs champs correspondants aux résultats  </p>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-qdata" class="btn btn-primary"> Ajouter nouveau module </button>
    </div>
{% endblock %}

{% block _quantareport_qdata_entry_row %}
    {{ form_widget(form) }}
{% endblock %}


{% block _quantareport_qdata_entry_widget %}
    <div class="form-group" id="block_{{form.vars.id}}">
        <div class="row">
            <div class="col-9">
                <div class="col-6">
                {{form_widget(form.quanfield)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.picto)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.disease)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.microBact)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.emotionConflit)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.mt)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.incDec)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.vgt)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.med)}}
                </div>
                <div class="col-6">
                    {{form_widget(form.observation)}}
                </div>
            </div>  
            <div class="col-3">
                <h1>ici</h1>
                <button type="button"  data-action="delete"  data-target="#block_{{form.vars.id}}" class="btn btn-danger ">X</button>
            </div>
        </div>
    </div>
    
{% endblock %}


{% block javascripts%}

    <script>

        $('#add-gstate').click(function () {
            //Je récupère le numéro des futurs champs que je vais créer 
            const index = $('#quantareport_gstate div.form-group').length;

            //Je recupère le prototype des entrées
            const  tmpl=$('#quantareport_gstate').data('prototype').replace(/_name__/g,index);
             //J'injecte ce code au sein de la div
            $('#quantareport_gstate').append(tmpl);
            deleteButtons();
        });
        
        function deleteButtons() {
            $('button[data-action = "delete"]').click(function () {
                const target = this.dataset.target;
                $(target).remove();

            })
        }
    </script>
    
    <script>

        $('#add-health').click(function () {
            //Je récupère le numéro des futurs champs que je vais créer 
            const index = $('#quantareport_health div.form-group').length;

            //Je recupère le prototype des entrées
            const  tmpl=$('#quantareport_health').data('prototype').replace(/_name__/g,index);
             //J'injecte ce code au sein de la div
            $('#quantareport_health').append(tmpl);
            deleteButtons();
        });
        
        function deleteButtons() {
            $('button[data-action = "delete"]').click(function () {
                const target = this.dataset.target;
                $(target).remove();

            })
        }
    </script>
    <script>

        $('#add-qdata').click(function () {
            //Je récupère le numéro des futurs champs que je vais créer 
            const index = $('#quantareport_qdata div.form-group').length;

            //Je recupère le prototype des entrées
            const  tmpl=$('#quantareport_qdata').data('prototype').replace(/_name__/g,index);
             //J'injecte ce code au sein de la div
            $('#quantareport_qdata').append(tmpl);
            deleteButtons();
        });
        
        function deleteButtons() {
            $('button[data-action = "delete"]').click(function () {
                const target = this.dataset.target;
                $(target).remove();

            })
        }
    </script>
{% endblock %}



