{% extends 'base.html.twig' %}

{% block title %}AcidesAmines{% endblock %}

{% block body %}
    <h1>AcidesAmines</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acides_amine.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ acides_amine.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_acides_amines_index') }}">back to list</a>

    <a href="{{ path('app_acides_amines_edit', {'id': acides_amine.id}) }}">edit</a>

    {{ include('acides_amines/_delete_form.html.twig') }}
{% endblock %}
