{% extends 'base.html.twig' %}

{% block title %}ProfilNerfs index{% endblock %}

{% block body %}
    <h1>ProfilNerfs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Transfert</th>
                <th>Choix_bio_specifique</th>
                <th>Choix_items</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil_nerf in profil_nerfs %}
            <tr>
                <td>{{ profil_nerf.id }}</td>
                <td>{{ profil_nerf.transfert }}</td>
                <td>{{ profil_nerf.choixBioSpecifique }}</td>
                <td>{{ profil_nerf.choixItems }}</td>
                <td>
                    <a href="{{ path('app_profil_nerfs_show', {'id': profil_nerf.id}) }}">show</a>
                    <a href="{{ path('app_profil_nerfs_edit', {'id': profil_nerf.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profil_nerfs_new') }}">Create new</a>
{% endblock %}
