{% extends 'base.html.twig' %}

{% block title %}ProfilNerfs{% endblock %}

{% block body %}
    <h1>ProfilNerfs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_nerf.id }}</td>
            </tr>
            <tr>
                <th>Transfert</th>
                <td>{{ profil_nerf.transfert }}</td>
            </tr>
            <tr>
                <th>Choix_bio_specifique</th>
                <td>{{ profil_nerf.choixBioSpecifique }}</td>
            </tr>
            <tr>
                <th>Choix_items</th>
                <td>{{ profil_nerf.choixItems }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_nerfs_index') }}">back to list</a>

    <a href="{{ path('app_profil_nerfs_edit', {'id': profil_nerf.id}) }}">edit</a>

    {{ include('profil_nerfs/_delete_form.html.twig') }}
{% endblock %}
