{% extends 'base.html.twig' %}

{% block title %}Listes des clients{% endblock %}

{% block body %}
<section>
    <div class="container " style="margin:auto;">
        <div class="form-group col-lg-12 ">
            <h1 class="text-center " style="color:black; margin:75px 50px; font-size:50px;">Listes des clients</h1>
        </div>

         <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Dateofbirth</th>
                <th>Placeofbirth</th>
                <th>S_group</th>
                <th>Hand</th>
                <th>Work</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Address</th>
                <th>Postalcode</th>
                <th>Country</th>
                <th>Sex</th>
                <th>Children</th>
                <th>Children_sex</th>
                <th>Maried</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.dateofbirth ? client.dateofbirth|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.placeofbirth }}</td>
                <td>{{ client.sGroup }}</td>
                <td>{{ client.hand }}</td>
                <td>{{ client.work }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.postalcode }}</td>
                <td>{{ client.country }}</td>
                <td>{{ client.sex }}</td>
                <td>{{ client.children }}</td>
                <td>{{ client.childrenSex }}</td>
                <td>{{ client.maried }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
           
            
            <div class="col-4">
                <div class="text-center" style="margin:auto ; ">
                    <a href="{{ path('app_quantareport_index') }}" class="btn btn-primary">Liste des rapports</a>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center" style="margin:auto ; ">
                    <a href="{{ path('app_quantareport_new') }}" class="btn btn-primary">Nouveau rapport</a>
                    
                </div>
            </div>
            <div class="col-4">
                <div class="text-center" style="margin:auto ; ">
                    
                    <a href="{{ path('app_client_new') }}" class="btn btn-primary">Nouveau client</a>
                </div>
            </div>
    </div>
    </div>
</section>

    
    

   
    

{% endblock %}
