{% extends 'base.html.twig' %}

{% block title %}Registre De Susceptibilite{% endblock %}

{% block monTitre %}<div class="fst-italic"> Registre De Susceptibilite </div>{% endblock %}

{% block body %}
    <table class="table-sm table-responsive col-md-4 offset-4 table-bordered mg border border-5 border-info rounded-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registre_de_susceptibilite in registre_de_susceptibilites %}
            <tr>
                <td>{{ registre_de_susceptibilite.id }}</td>
                <td>{{ registre_de_susceptibilite.nom }}</td>
                <td>
                    <a href="{{ path('app_registre_de_susceptibilite_show', {'id': registre_de_susceptibilite.id}) }}">show</a>
                    <a href="{{ path('app_registre_de_susceptibilite_edit', {'id': registre_de_susceptibilite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center"><a class=" btn btn-warning" href="{{ path('app_registre_de_susceptibilite_new') }}">Ajouter Meridien</a></div>
{% endblock %}
