{% extends 'base.html.twig' %}

{% block title %}ProfilCosmetique{% endblock %}

{% block body %}
    <h1>ProfilCosmetique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_cosmetique.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ profil_cosmetique.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_cosmetique_index') }}">back to list</a>

    <a href="{{ path('app_profil_cosmetique_edit', {'id': profil_cosmetique.id}) }}">edit</a>

    {{ include('profil_cosmetique/_delete_form.html.twig') }}
{% endblock %}
