{% extends 'base.html.twig' %}

{% block title %}ProfilHomeopathique index{% endblock %}

{% block body %}
    <h1>ProfilHomeopathique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Generateur_homeopathique</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil_homeopathique in profil_homeopathiques %}
            <tr>
                <td>{{ profil_homeopathique.id }}</td>
                <td>{{ profil_homeopathique.generateurHomeopathique }}</td>
                <td>{{ profil_homeopathique.commentaire }}</td>
                <td>
                    <a href="{{ path('app_profil_homeopathique_show', {'id': profil_homeopathique.id}) }}">show</a>
                    <a href="{{ path('app_profil_homeopathique_edit', {'id': profil_homeopathique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profil_homeopathique_new') }}">Create new</a>
{% endblock %}
