{% extends 'base.html.twig'%}

{%block body  %}
<div class="container text-center arriere_plan " >
    <h2 class="m-5" style="background-size: 30px"> LIFE  PROTOCOLE SYSTEM </h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card border border-5 border-success" >
            <img src="{{asset("images/acupuncture.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> <a  href="{{path("app_profil_acu_meridien_index")}}" class="btn btn-outline-primary">PROFIL ACUPUNCUTURE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_allergie.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_allergie_index")}}" class="btn btn-outline-primary">PROFIL ALLERGIE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_animaux.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_animaux_index")}}" class="btn btn-outline-primary"> PROFIL ANIMAUX</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_bio_feedbackgemmes.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_bio_feed_back_gemmes_index")}}" class="btn btn-outline-primary">PROFIL BIO FEEDBACK GEMMES</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_cerveau.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_cerveau_index")}}" class="btn btn-outline-primary">PROFIL CERVEAU</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_chromosomes_et_gemmes.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_chromosomes_et_genes_index")}}" class="btn btn-outline-primary">PROFIL CHROMOSOMES ET GENES</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_circulatoire.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_circulation_coeur_index")}}" class="btn btn-outline-primary">PROFIL CIRCULATION COEUR</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_cosmetique.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_cosmetique_index")}}" class="btn btn-outline-primary">PROFIL COSMETIQUE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_couleurs_et_chakras.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_couleurs_chakras_index")}}" class="btn btn-outline-primary">PROFIL COULEURS CHAKRAS</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_dentaire.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_dentaire_index")}}" class="btn btn-outline-primary">PROFIL DENTAIRE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_detox_et_stress_multiples.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_detox_et_stress_multiples_index")}}" class="btn btn-outline-primary">PROFIL DETOX ET STRESS MULTIPLES</a></h5>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_digestif.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_digestifs_index")}}" class="btn btn-outline-primary">PROFIL DIGESTIFS</a></h5>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_dimensionnel.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_dimensionnel_index")}}" class="btn btn-outline-primary">PROFIL DIMENSIONNEL</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_homeopathique.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_homeopathique_index")}}" class="btn btn-outline-primary">PROFIL HOMEOPATHIQUE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_hormonal.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_hormonal_index")}}" class="btn btn-outline-primary">PROFIL HORMONAL</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_iridologie.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_iridologie_index")}}" class="btn btn-outline-primary">PROFIL IRIDOLOGIE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_lymphatique.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_lymphatique_index")}}" class="btn btn-outline-primary">PROFIL LYMPHATIQUE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_musculaire.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_musculaire_index")}}" class="btn btn-outline-primary">PROFIL MUSCULAIRE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_nerveux.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_nerfs_index")}}" class="btn btn-outline-primary">PROFIL NERFS</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_neuro_emotionnel.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_neuro_emotionnel_index")}}" class="btn btn-outline-primary">PROFIL NEURO EMOTIONNEL</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_nutrition.png")}} " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_nutrition_index")}}" class="btn btn-outline-primary">PROFIL NUTRITION</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_oreilles_yeux.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_oreilles_yeux_index")}}" class="btn btn-outline-primary">PROFIL OREILLES YEUX</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_os.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_os_index")}}" class="btn btn-outline-primary">PROFIL OS</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_rachidien.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_rachidien_index")}}" class="btn btn-outline-primary">PROFIL RACHIDIEN</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_registre_auto_programme.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_registre_auto_programme_index")}}" class="btn btn-outline-primary">PROFIL REGISTRE AUTO PROGRAMME</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_respiratoire.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{path("app_profil_respiratoire_index")}}" class="btn btn-outline-primary">PROFIL RESPIRATOIRE</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_rife_simili.png")}} " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_rife_simili_index")}}" class="btn btn-outline-primary">PROFIL RIFE SIMILI</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_sinus_gorge.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_sinus_gorge_index")}}" class="btn btn-outline-primary">PROFIL SINUS GORGES</a></h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-5 border-success">
            <img src="{{asset("images/profil_transformation_emotionnelle_et_chronologique.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a  href="{{path("app_profil_transformation_emtionnelle_et_chronologique_index")}}" class="btn btn-outline-primary">TRANSFORMATION EMOTIONNELLE</a></h5>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock %}

