{% extends 'base.html.twig' %}

{% block title %}FicheClient index{% endblock %}

{% block body %}
    <h1>FicheClient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Acupuncture</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_client in fiche_clients %}
            <tr>
                <td>{{ fiche_client.id }}</td>
                <td>{{ fiche_client.nom }}</td>
                <td>
                    {% for  acupuncture in fiche_client.acupuncture %}
                        <tr>
                            <td>
                                {{ acupuncture.meridien }}
                            </td>
                            <td>
                                {{ acupuncture.feedback }}
                            </td>
                            <td>
                                {{ acupuncture.commentaire }}
                            </td>
                        </tr>
                    {% endfor %}
                </td>
                <td>{{ fiche_client.date ? fiche_client.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_fiche_client_show', {'id': fiche_client.id}) }}">show</a>
                    <a href="{{ path('app_fiche_client_edit', {'id': fiche_client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fiche_client_new') }}">Create new</a>
{% endblock %}
