{% extends 'base.html.twig' %}

{% block title %}ProfilIridologie index{% endblock %}

{% block body %}
    <h1>ProfilIridologie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Table_a_langer</th>
                <th>Commentaire</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil_iridologie in profil_iridologies %}
            <tr>
                <td>{{ profil_iridologie.id }}</td>
                <td>{{ profil_iridologie.tableALanger }}</td>
                <td>{{ profil_iridologie.commentaire }}</td>
                <td>{{ profil_iridologie.image }}</td>
                <td>
                    <a href="{{ path('app_profil_iridologie_show', {'id': profil_iridologie.id}) }}">show</a>
                    <a href="{{ path('app_profil_iridologie_edit', {'id': profil_iridologie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profil_iridologie_new') }}">Create new</a>
{% endblock %}
