{% extends 'base.html.twig' %}

{% block title %}ProfilIridologie{% endblock %}

{% block body %}
    <h1>ProfilIridologie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_iridologie.id }}</td>
            </tr>
            <tr>
                <th>Table_a_langer</th>
                <td>{{ profil_iridologie.tableALanger }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ profil_iridologie.commentaire }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ profil_iridologie.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_iridologie_index') }}">back to list</a>

    <a href="{{ path('app_profil_iridologie_edit', {'id': profil_iridologie.id}) }}">edit</a>

    {{ include('profil_iridologie/_delete_form.html.twig') }}
{% endblock %}
