{% extends 'base.html.twig' %}

{% block title %}Mineraux{% endblock %}

{% block monTitre %}<div class="fst-italic">Minéraux</div>{% endblock %}

{% block body %}
    <table class="table-sm table-responsive col-md-4 offset-4 table-bordered mg border border-5 border-info rounded-5">

    <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mineraux in minerauxes %}
            <tr>
                <td>{{ mineraux.id }}</td>
                <td>{{ mineraux.nom }}</td>
                <td>
                    <a href="{{ path('app_mineraux_show', {'id': mineraux.id}) }}">show</a>
                    <a href="{{ path('app_mineraux_edit', {'id': mineraux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center"><a class=" btn btn-warning" href="{{ path('app_mineraux_new') }}">Ajouter Meridien</a></div>

{% endblock %}
