{% extends 'base.html.twig' %}

{% block title %}Mineraux{% endblock %}

{% block body %}
    <h1>Mineraux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mineraux.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mineraux.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mineraux_index') }}">back to list</a>

    <a href="{{ path('app_mineraux_edit', {'id': mineraux.id}) }}">edit</a>

    {{ include('mineraux/_delete_form.html.twig') }}
{% endblock %}
