{% extends 'base.html.twig' %}

{% block title %}Facteurs De Stress Conflictuel {% endblock %}

{% block monTitre %}<div class="fst-italic">Facteurs De Stress Conflictuel </div>{% endblock %}

{% block body %}
<table class="table-sm table-responsive col-md-4 offset-4 table-bordered mg border border-5 border-info rounded-5">
     <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facteurs_de_stress_conflictuel in facteurs_de_stress_conflictuels %}
            <tr>
                <td>{{ facteurs_de_stress_conflictuel.id }}</td>
                <td>{{ facteurs_de_stress_conflictuel.nom }}</td>
                <td>
                    <a href="{{ path('app_facteurs_de_stress_conflictuel_show', {'id': facteurs_de_stress_conflictuel.id}) }}">show</a>
                    <a href="{{ path('app_facteurs_de_stress_conflictuel_edit', {'id': facteurs_de_stress_conflictuel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center"><a class=" btn btn-warning" href="{{ path('app_facteurs_de_stress_conflictuel_new') }}">Ajouter Facteurs De Stress Conflictuel</a></div>

{% endblock %}
