{% extends 'base.html.twig' %}

{% block title %}FacteursDeStressConflictuel{% endblock %}

{% block body %}
    <h1>FacteursDeStressConflictuel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facteurs_de_stress_conflictuel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ facteurs_de_stress_conflictuel.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facteurs_de_stress_conflictuel_index') }}">back to list</a>

    <a href="{{ path('app_facteurs_de_stress_conflictuel_edit', {'id': facteurs_de_stress_conflictuel.id}) }}">edit</a>

    {{ include('facteurs_de_stress_conflictuel/_delete_form.html.twig') }}
{% endblock %}
