{% extends 'base.html.twig' %}

{% block title %}SecondaryObject index{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-5">
    <h1>SecondaryObject index</h1>
    <h2 class="btn-danger"> 
        <a href="{{ path('app_quantareport_new') }}">Create report </a>
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secondary_object in secondary_objects %}
            <tr>
                <td>{{ secondary_object.id }}</td>
                <td>{{ secondary_object.subject }}</td>
                <td>
                    <a href="{{ path('app_secondary_object_show', {'id': secondary_object.id}) }}">show</a>
                    <a href="{{ path('app_secondary_object_edit', {'id': secondary_object.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_secondary_object_new') }}">Create new</a>
</div>
    </div>
    {% endblock %}
