{% extends 'base.html.twig' %}

{% block title %}ProfilCellCom{% endblock %}

{% block body %}
    <h1>ProfilCellCom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_cell_com.id }}</td>
            </tr>
            <tr>
                <th>Evaluation_des_chromosomes</th>
                <td>{{ profil_cell_com.evaluationDesChromosomes }}</td>
            </tr>
            <tr>
                <th>Evaluation_des_genes</th>
                <td>{{ profil_cell_com.evaluationDesGenes }}</td>
            </tr>
            <tr>
                <th>Auto_feedback_pour_cell_comm</th>
                <td>{{ profil_cell_com.autoFeedbackPourCellComm }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_cell_com_index') }}">back to list</a>

    <a href="{{ path('app_profil_cell_com_edit', {'id': profil_cell_com.id}) }}">edit</a>

    {{ include('profil_cell_com/_delete_form.html.twig') }}
{% endblock %}
